* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: $primary-font;
    color: $body-color;
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $body-line-height;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: $heading-color;
    line-height: 1.1;
    font-family: $secondary-font;

}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
}

/* ============= =============
        Common Css 
============== ============= */
.mb-28 {
    margin-bottom: 28px;
}

.mt-28 {
    margin-top: 28px;
}

.pt-90 {
    padding-top: 90px !important;
}



/* ============= =============
        Button Css
============== ============= */
.primary_button {}

.secondary_button {}


/* ============= =============
        Section Title Css
============== ============= */
.section-title {
    & h2 {}

    & p {}
}


/* ============= =============
        Scroll To Top Css 
============== ============= */

.backToTop {
    & a {}
}