/* ============= =============
        # css variables 
============== ============= */

$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

$primary-color: #53ba00;
$secondary-color: #a6e72a;
$secondary-color2: #48a100;
$heading-color: #181818;
$body-color: #181818;
$white-color: #FFFFFF;
$off-white-color: #efefef;
$body-font-size: 16px;
$body-line-height: 24px;
$body-font-weight: 400;


/* ============= =============
        # Mixin
============== ============= */
@mixin displaFlex($flex, $justify, $alignItems, $direction) {
    display: $flex;
    -webkit-box-pack: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;
    -webkit-box-align: $alignItems;
    -ms-flex-align: $alignItems;
    align-items: $alignItems;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin tranSition($duration) {
    transition: $duration ease-in-out;
    -webkit-transition: $duration ease-in-out;
    -moz-transition: $duration ease-in-out;
}

@mixin bodyFont {
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
}